<p> mv rebalancing 페이지 입니다. </p>

<p>start_data: {{start_data}}</p>
<p>end_data  : {{end_data}}</p>
<p> rebal    : {{ rebal }} </p>


<!doctype html>
<html class="zc-html">

<head>
  <meta charset="utf-8">
  <title>ZingSoft Demo</title>
  <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
  <style>
    .zc-body {
      background: #fff;
    }

    .chart--container {
      height: 100%;
      width: 100%;
      min-height: 530px;
    }

    .zc-ref {
      display: none;
    }
  </style>
</head>
​

<body class="zc-body">
  ​
  <div id="myChart" class="chart--container">
    <a href="https://www.zingchart.com/" rel="noopener" class="zc-ref">Powered by ZingChart</a>
  </div>

  <script>
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "b55b025e438fa8a98e32482b5f768ff5"]; // full ZingChart schema can be found here:
    // https://www.zingchart.com/docs/api/json-configuration/
    // Chart Data
    console.log({{A}})

    let warrants = {{A}};
    let orders = {{AB}};
    let subpoenas = {{ABC}};
    let usRequests = {{ABCD}};
    let governmentRequests = {{ABCDE}};

    // Chart Configuration
    let chartConfig = {
      type: 'area',
      globals: {
        fontFamily: 'Poppins',
        fontColor: '#333'
      },
      title: {
        text: 'Efficient Frontier Journey Map',
        align: 'center',
        padding: '5px'
      },
      legend: {
        align: 'center',
        verticalAlign: 'bottom',
        layout: '3x2',
        border: 'none',
        item: {
          fontSize: '18px'
        },
        marker: {
          type: 'circle'
        }
      },
      tooltip: {
        callout: true,
        text: '%t:<br>%v Requests received between<br>July 2020 & June 2021',
        backgroundColor: '#F7F9FA',
        fontColor: '#505050',
        fontSize: '18px',
        padding: '20px 35px',
        borderRadius: '4px'
      },
      plot: {
        aspect: 'spline'
      },
      scaleX: {
        labels: ['2017-09-30', '2017-10-31', '2017-11-30', '2017-12-31', '2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30', '2018-05-31', '2018-06-30', '2018-07-31', '2018-08-31', '2018-09-30', '2018-10-31', '2018-11-30', '2018-12-31', '2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30', '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31', '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31', '2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30', '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31', '2020-09-30']
      },
      scaleY: {
        //values: '0:16:2'
        values: '0:1'
      },
      series: [{
          values: warrants,
          text: 'Cnsmr',
          zIndex: 10,
          alphaArea: 1,
          lineColor: '#ffffff',
          lineWidth: '3px',
          backgroundColor: '#62E9D8',
          marker: {
            size: '0px'
          },
          hoverMarker: {
            size: '10px',
            backgroundColor: '#fff',
            borderColor: '#eee'
          }
        },
        {
          values: orders,
          text: ' Manuf',
          zIndex: 9,
          alphaArea: 1,
          lineColor: '#ffffff',
          backgroundColor: '#70DE99',
          marker: {
            size: '0px'
          },
          hoverMarker: {
            size: '10px',
            backgroundColor: '#fff',
            borderColor: '#eee'
          }
        },
        {
          values: subpoenas,
          text: 'HiTec',
          zIndex: 8,
          alphaArea: 1,
          lineColor: '#ffffff',
          backgroundColor: '#B2DC93',
          marker: {
            size: '0px'
          },
          hoverMarker: {
            size: '10px',
            backgroundColor: '#fff',
            borderColor: '#eee'
          }
        },
        {
          values: usRequests,
          text: 'Hlth',
          zIndex: 7,
          alphaArea: 1,
          lineColor: '#ffffff',
          backgroundColor: '#FFE295',
          marker: {
            size: '0px'
          },
          hoverMarker: {
            size: '10px',
            backgroundColor: '#fff',
            borderColor: '#eee'
          }
        },
        {
          values: governmentRequests,
          text: 'Other',
          zIndex: 6,
          alphaArea: 1,
          lineColor: '#ffffff',
          backgroundColor: '#FF9C85',
          marker: {
            size: '0px'
          },
          hoverMarker: {
            size: '10px',
            backgroundColor: '#fff',
            borderColor: '#eee'
          }
        }
      ]
    };

    // Render Method
    zingchart.render({
      id: 'myChart',
      data: chartConfig,
      height: '100%',
      width: '100%',
    });
  </script>
</body>

</html>

<!--
<p>{{rebal_graph_Date}}</p>
<p>{{A}}</p>
<p>{{AB}}</p>
<p>{{ABC}}</p>
<p>{{ABCD}}</p>
<p>{{ABCDE}}</p>
-->