body {
    background-image : url('img/neww.png');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto !important;
}
.submit {

    width:100px;
    background-color: #f8585b;
    border: none;
    color:#fff;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;

}
